{% extends 'base.html' %}
{% block title %}

Signin


{% endblock title %}
{% block head %}

<h1>signin here</h1>

<div class="container mt-2">
   <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
<form action ="/Login" method ="Post">{% csrf_token %}
 


    <div class="class-group">
        <input type="phone" class="form-control" placeholder="mobilenumber" id="phone">
        </div>


    <div class="class-group">
    <input type="password" class="form-control" placeholder="pass1" id="Password1">
    </div>

    
    
    <button type="submit" class="btn btn-primary">Login</button>
    

  </form>
</div>
</div>


{% endblock head  %}