{% extends 'base.html' %}
{% block title %}

Signup


{% endblock title %}
{% block head %}

<h1>signup here</h1>

<div class="container mt-2">
   <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">


        {% for message  in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong></strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
          </div>
        {% endfor %}



<form action ="/Signup" method ="POST">{% csrf_token %}


    <div class="class-group  mt-2">
        <input type="text"
         name="name" 
         class="form-control" 
         placeholder="name"   
         required>
        </div>
    
    
    <div class="class-group  mt-2">
     <input type="email"
      name ="email" 
      class="form-control" 
      placeholder="email"
      required>
    </div>

    <div class="class-group  mt-2">
    <input type="password" 
    name="pass1" 
    class="form-control" 
    placeholder="pass1"  
    required>
    </div>

    
    <div class="class-group  mt-2">
        <input type="password" 
        name="pass2" 
        class="form-control" 
        placeholder="pass2"  
        required>
        </div>
   
    <button 
    type="submit" 
    class="btn btn-primary">
    Signup
  </button>
    <div>
    <a href="/handlelogin">already user</a>
    </div>

  </form>
</div>
</div>


{% endblock head  %}